header{
    height: 4em;
    background-color: #0084FD;
    display: flex;
    justify-content: center;
}
.container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo-header{
   margin-left: 2rem;
}
.menu{
    margin-right: 2rem;
}
/***Fine Header***/
/**Section Get-Demo**/
.container-demo{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.demo-p{
    font-size: 20px;
    text-indent: 0;
    padding: 1rem 0;
    margin-bottom: 3rem;
}
.big-col{
    width: 80%;
    min-height: 30em;
    background-color: #B5DDFF;
    margin-top: 3rem;
    border-radius: 30px;
    padding: 2.5rem 2.5rem 0 2.5rem;
 }
 .smll-col{
    width: 80%;
    background-color: #B5DDFF;
    margin-top: 3rem;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2.5rem;
 }
 i{
    color: #0084FD;
 }
 .phone{
    width: 100%;
    margin-top: 3rem;
}
 /***Lilla Section***/
 .lilla-up{
    width: 100%;
    min-height: 40em;
    margin: 3rem 0;
}
.lilla-down{
    background-color: white;
    width: 100%;
    min-height: 40em;
    margin-bottom: 3rem;
    border-radius: 35px;
}
.arrow-dwn{
    color: black;
    font-size: 30px;
    background-color: #9792E4;
    border-radius: 100%;
    padding: 1rem 1.3rem;  /*giusto?*/
}
h2{
    font-size: 40px;
    padding-top: 4rem;
}
/***Testimonial Section***/
.txt-cont{
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card{
    width: 70%;
    margin: 1rem;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.img-test{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin: 1rem;
}
.name{
    font-size: 25px;
    margin-bottom: 2rem;
}
.card-bott{
    padding: 0 1.5rem;
}
/***Benefit Section***/
.card-container{
    width: 70%;
    display: flex;
    flex-direction: column;
}
.small-card{
    width: 70%;
    background-color: white;
    margin: 2rem;
    border-radius: 30px;
}
.numb{
    font-size: 50px;
    color:#9792E4;
    padding-top: 3rem;
}
/***About Us Section***/
.container-abt{
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items:center;
}
.us{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin: 1rem;
}
.find-me{
    width: 80%;
    margin-top: 1rem;
    margin-bottom: 2rem;
}
.linkedin{
    color: white;
    font-size: 20px;
    padding-right: 1rem;
}
.icn{
    right: 0;
    top: 10px;
    font-size: 50px;
}
.quote{
    width: 150px;
    height: 150px;
}
/***Get Started Section***/
.started{
    width: 70%;
}
/***Footer Section***/
footer{
    background-color: #333333;
}
/***Button***/
.btn-blue{
    color: white;
    background-color: #0084FD;
    font-size: 20px;
    padding: 1rem 3rem;
    border-radius: 30px;
}
.btn-lilla{
    background-color:#9792E4;
    font-size: 20px;
    padding: 0.5rem 1rem;
    border-radius: 30px;
    margin-top: 2rem;
}
.btn-white{
    font-size: 20px;
    padding: 0.5rem 2rem;
    border-radius: 30px;
    margin: 2rem 0;
    background-color: white;
}
a{
    cursor: pointer;
}
/***Tablet Responsive***/
@media screen and (min-width: 768px){
    #menu{
        display: block;
        color: white;
        font-size: 35px;
    }
    #burger{
        display: none;
    }
    
    .container-demo{
        width: 90%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .get-demo{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .big-col{
        width: calc((((100% / 3) - 2rem) * 2) + 2rem);
        min-height: 40em;
        margin: 1rem;
    }
    .smll-col{
        width: calc((100% / 3) - 2rem);
        margin: 1rem;
    }
    .card{
        display: flex;
        flex-direction: row;
        width: 90%;
    }
    .bottom{
        padding: 2rem 0;
        text-align: left;
    }
    .p-test{
        padding: 1rem 0.5rem;
    }
    .txt-cont{
        width: 90%;
    }
    .benefit{
       display: flex;
       justify-content: center;
       align-items: center;
    }
    .card-container{
        width: 85%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .small-card{
        width: calc((85% / 2) - 20px);
        display: flex;
        flex-direction: column;
    }
    .container-abt{
        width: 90%;
        display: flex;
        flex-direction: row;
        align-items: start;
    }
    .started , .cont-foot{
        width: 80%;
    }
}
/***Desktop***/
@media  screen and (min-width:992px) {
    .container , .container-demo{
        width: 80%;
    }
    .smll-col{padding: auto;}
    .lil-cont{
        width: 80%;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .lilla-up{
        width: 80%;
        margin: 2rem;
    }
    .lilla-down{
        width: 80%;
        margin: 2rem;
    }
    .txt-cont{
        width: 80%;
    }
    .card{
       height: 15em;
    }
    .find-me{
        width: 30%;
    }
    .card-container{
        width: 80%;
    }
    .small-card{
        width: calc((80% / 3) - 20px);
        display: flex;
        flex-direction: column;
    }
    .container-abt{
        width: 80%;
        display: flex;
        justify-content: center;
        align-content: center;
    }
    .t-abt{
        font-size: 25px;
    }
    .lil-cont{
        display: flex;
        flex-direction: row;
    }
    .started , .cont-foot{
        width: 40%;
    }
}

 /*.icn{
        padding-top: 7rem;
        padding-bottom: 3rem;       PROVE Small-col
    }
    .h3-ic{padding: 4rem 0;}
    .p-icn{padding-bottom: 7rem;}*/
    

