header{
    height: 4em;
    background-color: #0084FD;
    display: flex;
    justify-content: center;
}
.container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo-header{
   margin-left: 2rem;
}
.menu{
    margin-right: 2rem;
}
/***Fine Header***/
.h3-col{
    font-size: 32px;
    text-align: center;
    margin-top: 2rem;
}
.container-demo{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.demo-p{
    font-size: 20px;
    text-indent: 0;
    padding: 1rem 2.5rem;
    margin-bottom: 3rem;
}
.btn-blue{
    color: white;
    background-color: #0084FD;
    font-size: 20px;
    padding: 1rem 3rem;
    border-radius: 30px;
    margin-left: 2.5rem;
}
.phone{
    width: 100%;
    margin-top: 3rem;
}
.big-col{
   width: 80%;
   min-height: 50em;
   background-color: #B5DDFF;
   margin-top: 3rem;
   border-radius: 30px;
}
.smll-col{
   width: 80%;
   height: 25em;
   background-color: #B5DDFF;
   margin-top: 3rem;
   border-radius: 30px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   text-align: center;
}
.col-p{
    font-size: 20px;
    padding: 1rem 2.5rem;
    margin-bottom: 3rem;
}
i{
    color: #0084FD;
}
.lst{
    margin-bottom: 3rem;
}
/***Lilla Section***/
.lilla{
    background-color:#9792E4;
    display: flex;
    justify-content: center;
}
.lil-cont{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.lilla-up{
    width: 100%;
    min-height: 40em;
    margin: 3rem 0;
}
.lilla-down{
    background-color: white;
    width: 100%;
    min-height: 40em;
    margin-bottom: 3rem;
    border-radius: 35px;
}
.lilla-plan{
    width: 100%;
}
h2{
    font-size: 40px;
    padding-top: 4rem;
}
.p-lilla{
    font-size: 20px;
}
.h3-plan{
    font-size: 32px;
    
}
/***Testimonial Section***/
.h3-test{
    font-size: 32px;
    padding: 1rem 2rem;
}
.p-test{
    font-size: 20px;
    padding: 1rem 2rem;
}
.test-cont{
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.text-up{
    width: 90%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.testimonial{
    display: flex;
}
.img-test{
    width: 100%;
    height: 100%;
    border-radius: 100%;
    padding: 1rem 3rem 1rem 3rem; /*distrorce l'img*/
}
.test{ margin-top: 2rem;
       margin-bottom: 1rem;
    }
.p-test{ 
    font-size: 20px;
    padding: 1.5rem;
}  
.cards{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
} 
.name{
    font-size: 25px;
}
.card{
    width: 70%;
    margin: 1rem;
    border-radius: 50px;
}
.card-top{
    height: 50%;
}
.card-bott{
    height: 50%;
    display: flex;
    align-items: center;
    padding: 0 1.5rem;
    /*position: relative;*/
}
.bottom{
    padding: 1.5rem;
}
.wht{
    color: white;
    /*position: absolute;*/
    font-size: 20px;
}
/***Benefit***/
.card-container{
    width: 70%;
    display: flex;
    flex-direction: column;
}
.small-card{
    width: 70%;
    background-color: white;
    margin: 2rem;
    border-radius: 30px;
}
.numb{
    font-size: 50px;
    color:#9792E4;
    padding-top: 3rem;
    margin-left: 1.5rem;
}
.h4-benefit{
    font-size: 25px;
    margin-left: 1.5rem;
    margin-top: 2rem;
}
.p-benefit{
    font-size: 20px;
    margin-left: 1.5rem;
    margin-top: 2rem;
    margin-bottom: 3rem;
    margin: 2rem 1.5rem 2rem 1.5rem;
}
.btn-violet{
    background-color:#9792E4;
    font-size: 20px;
    padding: 0.5rem 4rem;
    border-radius: 30px;
    margin-left:1.5rem;
    margin-bottom: 3rem; /*HELP*/
}
.btn-lilla{
    background-color:#9792E4;
    font-size: 20px;
    padding: 0.5rem 2rem;
    border-radius: 30px;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.btn-white{
    font-size: 20px;
    padding: 0.5rem 2rem;
    border-radius: 30px;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background-color: white;
}
/***AboutUs***/
.container-abt{
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items:center;
}
.about-us{
   display: flex;
   justify-content: center;
}
.about{
    width: 80%;
}
.us{
    width: 70%;
}
.find-me{
    width: 80%;
    margin-top: 1rem;
    margin-bottom: 2rem;
}
.card-up{
    border-radius: 50px;
}
.card-down{

}
.h4-abt{
    font-size: 32px;
    margin-bottom: 2rem;
}
.linkedin{
    color: white;
    font-size: 20px;
    padding-right: 1rem;
}
/***Get Started Sectiom***/
.started{
    background-color:#9792E4;
    width: 70%;
}
/***Footer Section***/
footer{
    background-color: #333333;
}
@media screen and (min-width: 768px){
    .container-demo{
        width: 90%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .get-demo{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .big-col{
        width: calc((((100% / 3) - 2rem) * 2) + 2rem);
        height: 30em;
        margin: 1rem;
        background-color: cadetblue;
    }
    .smll-col{
        width: calc((100% / 3) - 2rem);
        height: 30em;
        background-color: cadetblue;
        margin: 1rem;
        border: black;
    }
    .card{
        display: flex;
        flex-direction: row;
        width: 90%;
        height: 20em;
    }
    .card-top{
        width: 40%;
        height : 15em;
        background-color:cadetblue;
    }
    .card-bott{
        width: 60%;
        height:15em;
        background-color:cornflowerblue;
    }
    .test-cont{
        width: 90%;
    }
    .benefit{
        background-color: black;
       display: flex;
       flex-direction: column;   
       justify-content: center;
       align-items: center;
    }
    .card-container{
        width: 85%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        background-color: grey;
    }
    .small-card{
        width: calc((100% / 2) - 30px);
        display: flex;
        flex-direction: row;
        height: 30em;
        background-color: cadetblue;
        margin: 15px;
    }
    .container-abt{
        width: 90%;
        display: flex;
        flex-direction: row;
        align-items: start;
    }
    .about , .find-me{
        min-height: 10em ;
    }
    .card-top{
        width: 100%;
        height: 10em;
    }
    .card-bott{
        width: 100%;
        height: ;
    }
}
@media  screen and (min-width:992px) {
    .container , .container-demo{
        width: 80%;
    }
    .lil-cont{
        background-color: black;
        width: 80%;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .lilla-up{
        background-color: cadetblue;
        width: 80%;
        height: 40em;
        margin: 2rem;
    }
    .lilla-down{
        background-color: cadetblue;
        width: 80%;
        height: 40em;
        margin: 2rem;
    }
    .test-cont{
        width: 80%;
    }
    .card{
       height: 15em;
    }
    .find-me{
        width: 30%;
    }
    .card-top{
        width: 100%;
        height: 15em;
    }
    .card-bott{
        width: 100%;
        height: 15em;
    }
    .card-container{
        width: 80%;
    }
    .container-abt{
        width: 80%;
        display: flex;
        justify-content: center;
        align-content: center;
    }
}
    

