/****html
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/utilities.css">
    ****/

    *{margin: 0;
        padding: 0;
        box-sizing: border-box;
        color: black;
      }
      body{
        font-family: 'Open Sans', sans-serif;}
      
      .fix{position: fixed;}
      .pos-rel{position: relative;}
      .pos-abs{position: absolute;}
      .d-inbl{display: inline-block;}
         /***FLEX***/
      .d-flex{display: flex;}
      .jcont-cent{justify-content: center;}
      .jcont-betw{justify-content: space-between;}
      .jcont-arnd{justify-content: space-around;}
      .jcont-end{justify-content: flex-end;}
      .f-wrap{flex-wrap: wrap;}
      .alg-items{align-items: center;}
      .flex-di-col{flex-direction: column;}
         /*width %*/
      .w{width: 100%;}
      .w-20{width: 20%;}
      .w-25{width: 25%;}
      .w-30{width: 30%;}
      .w-40{width: 40%;}
      .w-50{width: 50%;}
      .w-60{width: 60%;}
      .w-70{width: 70%;}
      .w-80{width: 80%;} 
      
         /*width in em*/
      .w3{width: 3.5em;}
      
         /*Heigth*/
      .h-3{height: 3em;}
         /*Colors*/
      
      .black{background-color: black}
      .gray{background-color: gray;}
      .white{color: white;}
      .darkseagreen{background-color: darkseagreen;}
      .brown{background-color:brown;}
      .dodgerblue{background-color: dodgerblue;}
      .crimson{background-color: crimson;}
      .red{background-color: red;}
      .lightblue{background-color:lightblue;}
      .darkblue{background-color: darkblue;}
      .gold{background-color: gold;}
      .lightgray{background-color:lightgray;}
      .basecolor{background-color: #b4d0e7;}
    
      
         /*Margin*/
      .mt-5{margin-top: 0.3125rem;} /*5px*/
      .mr-5{margin-right: 0.3125rem;}
      .ml-5{margin-left: 0.3125rem;} 
      .mb-5{margin-bottom: 0.3125rem;}     
      .mt-10{margin-top: 10px;}   /*10*/
      .mb-10{margin-bottom: 10px;}
      .ml-10{margin-left:0.625rem;} 
      .ml-15{margin-left: 0.9375rem;} /*15*/ 
      .mr-15{margin-right:  0.9375em;}
      .mt-20{margin-top: 1.25rem;} /*20*/
      .mb-20{margin-bottom: 1.25rem;}
      .mtb-20{margin-top: 1.25rem;
              margin-bottom: 1.25rem;}
      .mtb-30{margin: 1.875rem 0;} /*30px*/
      .mt-50{margin-top: 3.125rem;}  /*50px*/
      .mb-50{margin-bottom: 3.125rem;} /*50px*/
      .ml-116{margin-left: 7.25em;}  /*116px*/
      .mt-130{margin-top: 8.125rem;}  /*130px*/
    
           /*Padding*/
      .pdd-5{padding: 5px;}
      .pr-5{padding-right: 0.3125rem;} /*5*/
      .ptb-5{padding-top: 0.3125rem;
            padding-bottom: 0.3125rem;}
      .pt-5{padding-top: 5px;}
      .p-angle{padding: 5px 5px 0 5px}
    
      .pt-06{padding-top: 0.625rem;}  /*10px*/
      .pl-10{ padding-left: 0.625rem;}
      .pb-10{padding-bottom: 0.625rem;} 
      .ptb-10{padding-top: 0.625rem; 
        padding-bottom: 0.625rem;}
      .plr-10{ padding-left: 0.625rem;
        padding-right: 0.625rem;}
      .pl-15{padding-left: 0.9375rem;} /*15px*/
      .pb-20{padding-bottom: 1.25rem;}  /*20px*/
      .ptb-20{ padding-top: 1.25rem; 
              padding-bottom: 1.25rem;}
      .pt-20{padding-top: 1.25rem;}
      .pl-20{padding-left: 1.25rem;} 
      .pt-25{padding-top: 1.5625rem;} /*25px*/
      .pdd-30{padding: 1.875rem;} /*30px*/
      .pt-30{padding-top: 1.875rem;}
      .pt-40{padding-top: 2.5rem;} /*40px*/
      .pb-40{padding-bottom: 2.5rem;}
      .pt-50{padding-top: 3.125rem;} /*50px*/
      .pb-80{padding-bottom: 80px;} 
      .pb-100{padding-bottom: 100px;} 
    
          /*Text Details*/
      .wei-bold{font-weight: bold;}
      .txt-alg{text-align: center;}
      .txt-alg-start{text-align: start;}
      .noborder{border: none;}
      .txt-w2{font-weight: 200;}
      .txt-w3{font-weight: 300;}
      .txt-w7{font-weight: 700;}
      .txt-w8{font-weight: 800;}
      
      .fs-13{font-size: 0.8125rem;}
      .fs-15{font-size: 0.9375rem;}
      .fs-18{font-size: 1.125rem;}
    
      .f-brown{color: brown;}
      .f-black{color:black;}
      .f-white{color: white;}
      .f-gray{color: gray;}
      .f-brow{color: rgb(86, 19, 19);}
      
      
        /**Icon**/
      .ic{filter: invert(1);}
      
        /***Link Style***/
      a{text-decoration: none;}
      .buynow {
          text-decoration: underline;
          color: rgb(0, 89, 255);
        }